<div>
    <ul class="lots">
      <li *ngFor="let lot of lotCollection" (click)="onSelect(lot)" [class.selected]="lot === selectedLot">
        <button class="delete-button" (click)="deleteLot(lot)">Delete</button>
        <div class="lot-element">
          <div class="lotId">{{lot.lotId}}</div>
          <div class="lotVacancy">{{lot.lotVacancy}} spaces available</div>
          <div class="lotName">{{lot.lotName}} - {{lot.lotType}}</div>
          <div class="lotDescription">{{lot.lotDescription}}</div>
        </div>
      </li>
    </ul>
    <div class="editarea">
      <button (click)="enableEditMode()">Add New Lot</button>
      <div *ngIf="currentLot">
        <div class="editfields">
          <div>
            <label>ID: </label>
            <input [(ngModel)]="currentLot.lotId" placeholder="lotId" *ngIf="editMode" />
            <label *ngIf="!editMode" class="value">{{currentLot.lotId}}</label>
          </div>
          <div>
            <label>Status: </label>
            <input [(ngModel)]="currentLot.lotState" placeholder="Lot status" />
          </div>
          <div>
            <label>Type: </label>
            <input [(ngModel)]="currentLot.lotType" placeholder="Lot type" />
          </div>
          <div>
            <label>Name: </label>
            <input [(ngModel)]="currentLot.lotName" placeholder="Lot name" />
          </div>
          <div>
            <label>Vacancy: </label>
            <input [(ngModel)]="currentLot.lotVacancy" placeholder="Lot vacancy" />
          </div>
          <div>
            <label>Latitude: </label>
            <input [(ngModel)]="currentLot.lotGeoLat" placeholder="Lot latitude" />
          </div>
          <div>
            <label>Longitude: </label>
            <input [(ngModel)]="currentLot.lotGeoLong" placeholder="Lot longitude" />
          </div>
          <div>
            <label>Description: </label>
            <input [(ngModel)]="currentLot.lotDescription" placeholder="Lot description" />
          </div>
        </div>
        <button (click)="cancelEditMode()">Cancel</button>
        <button (click)="saveLot()">Save</button>
      </div>
    </div>
  </div>
  